---
import { type Project } from "@/types.d";

interface Props {
  project: Project;
}
const { project } = Astro.props;
const p: Project = project;
---

<a
  href={`/p/${p.id}`}
  class="relative h-96 p-6 transition-all rounded-2xl overflow-hidden hover:brightness-90 hover:cursor-pointer flex-grow w-full"
  style={{
    backgroundColor: p.backgroundColor,
  }}
>
  <h2 class="text-2xl" transition:name={p.title}>{p.title}</h2>
  <div
    style={{
      width: p.width,
      marginTop: p.pointOfInterest.y,
      marginLeft: p.pointOfInterest.x,
    }}
  >
    <img
      class="w-full h-full"
      transition:name={p.pathToImg}
      src={"/images/" + p.pathToImg}
      alt={p.title}
    />
  </div>
</a>
