---
import projects from "../../data/projects.json";
import { colors } from "@/models";

import Layout from "@/Layouts/Layout.astro";
import type { Project } from "@/types";

export async function getStaticPaths() {
  return projects.map((project) => {
    return {
      params: { id: project.id },
      props: { project },
    };
  });
}
// const { id } = Astro.params;
const { project } = Astro.props;

const p: Project = project;
---

<Layout title="Pol Gubau Amores | Full-Stack Developer and UX designer">
  <section class="max-w-5xl px-8 pb-8 w-full flex flex-col gap-3">
    <header
      class="flex justify-between rounded-2xl items-start p-4 relative"
      style={{
        backgroundImage: `linear-gradient(to bottom, ${p.backgroundColor}, ${colors.background})`,
      }}
    >
      <div class="flex flex-col gap-8">
        <h3
          transition:name={p.title}
          class="text-6xl text-background-dark dark:text-white"
        >
          {p.title}
        </h3>

        <!-- -->
        <div class="flex gap-2 max-w-lg flex-wrap">
          <!-- <p class="bg-slate-50 w-fit rounded-full py-1 px-4">
            {p.category.en}
          </p> -->

          {
            p.tags.map((tag) => (
              <p class="bg-slate-50 w-fit rounded-full py-1 px-4 truncate">
                {tag}
              </p>
            ))
          }
        </div>
      </div>

      <div class="flex justify-end pr-8">
        <img
          transition:name={p.pathToImg}
          src={"/images/" + p.pathToImg}
          alt="Project image"
          class="w-full max-w-[500px]"
        />
      </div>
    </header>

    <main class="p-6">
      <p class="text-base leading-relaxed text-gray-700 dark:text-gray-200">
        {p.description.en}
      </p>
    </main>
  </section>
</Layout>
