---
import { type Project, type ProjectMetadata } from "../../types";
import { colors } from "../../models";
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@/Layouts/Layout.astro";
import Markdown from "@c/Markdown/Markdown.astro";

export async function getStaticPaths() {
  const pages = await getCollection("projects");

  const paths = pages.map((page: ProjectMetadata) => {
    const [lang, ...slug] = page.slug.split("/");

    return { params: { lang, slug: slug.join("/") ?? undefined }, props: page };
  });

  return paths;
}

type Props = CollectionEntry<"projects">;

const page = Astro.props;
const p: Project = page.data;

const { Content } = await page.render();
---

<Layout title="Pol Gubau Amores | Full-Stack Developer and UX designer">
  <section class="max-w-5xl px-8 pb-8 w-full flex flex-col gap-3">
    <header
      class="grid grid-cols-1 sm:grid-cols-2 justify-strech rounded-2xl items-start p-8 relative"
      style={{
        backgroundImage: `linear-gradient(to bottom, ${p.backgroundColor}, ${colors.background})`,
      }}
    >
      <div class="flex flex-col gap-8">
        <h1 class="text-5xl text-background-dark dark:text-white">
          {p.title}
        </h1>

        <div class="flex gap-2 max-w-full sm:max-w-xs flex-wrap">
          {
            p.tags.map((tag) => (
              <p class="bg-slate-50 w-fit rounded-full py-1 px-4 truncate">
                {tag}
              </p>
            ))
          }
        </div>
      </div>

      <div class="flex justify-end">
        <img
          transition:name={p.images[0].src}
          src={"/images/" + p.images[0].src}
          alt={p.images[0].alt}
          class="w-full max-w-[500px]"
        />
      </div>
    </header>

    <main class="p-6">
      <p
        class="text-base leading-relaxed text-gray-700 dark:text-gray-200 mb-8"
      >
        {p.description}
      </p>
      <Markdown projectColor={p.backgroundColor}>
        <Content />
      </Markdown>
    </main>
  </section>
</Layout>
