---
import { type Project } from "../../types";
import { ROUTES, colors } from "../../models";
import { getCollection } from "astro:content";
import Layout from "../../Layouts/Layout.astro";
import Markdown from "../../components/Markdown/Markdown.astro";
import Header from "../../Layouts/Header.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const p: Project = project.data;

const { Content } = await project.render();
---

<Layout
  title="Pol Gubau Amores | Full-Stack Developer and UX designer"
  description=`${p.title} is a project by Pol Gubau Amores. ${p.description}`
>
  <Header />

  <section class="max-w-5xl px-8 pb-8 w-full flex flex-col gap-3">
    <header
      class="grid grid-cols-1 sm:grid-cols-2 justify-strech rounded-2xl items-start p-8 relative"
      style={{
        backgroundImage: `linear-gradient(to bottom, ${p.backgroundColor}, ${colors.background})`,
      }}
    >
      <div class="flex flex-col gap-4">
        <a
          href={ROUTES.HOME}
          class="bg-background-dark transition-all bg-opacity-20 w-fit rounded-full py-1 flex items-center px-2 hover:bg-opacity-40"
        >
          {`< Return`}</a
        >
        <h1 class="text-5xl text-background-dark dark:text-white">
          {p.title}
        </h1>

        <div class="flex gap-2 max-w-full sm:max-w-xs flex-wrap">
          {
            p.tags.map((tag) => (
              <p class="bg-slate-50 w-fit rounded-full py-1 px-4 truncate">
                {tag}
              </p>
            ))
          }
        </div>
      </div>

      <div class="flex justify-end">
        <a href={p.link}>
          <img
            transition:name={p.images[0].src}
            src={"/images/" + p.images[0].src}
            alt={p.images[0].alt}
            class="w-full max-w-[500px]"
          /></a
        >
      </div>
    </header>

    <main class="p-6">
      <!-- <p
        class="text-base leading-relaxed text-gray-700 dark:text-gray-200 mb-8"
      >
        {p.description}
      </p> -->
      <Markdown projectColor={p.backgroundColor}>
        <Content />
      </Markdown>
    </main>
  </section>
</Layout>
