---
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";

import Footer from "./Footer.astro";
import { checkImageUrl } from "../utils/all";
export interface Props {
  title?: string;
  description?: string;
  ogimage?: string;
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, description, ogimage = "/opengraph.jpg" } = Astro.props;
const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title
  ? title + " | " + "Pol Gubau Amores"
  : "Pol Gubau Amores | Full-Stack Developer and UX designer in Barcelona";
---

<!doctype html>
<html lang={"en"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{makeTitle}</title>
    <meta name="generator" content={Astro.generator} />

    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta
      name="keywords"
      content="software development, UX design, web development, portfolio, barcelona, react, frontend developer"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Pol Gubau Amores" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />

    <ViewTransitions />
  </head>

  <body class={`flex overflow-x-hidden overflow-y-auto w-full justify-center`}>
    <main
      class="bg-background dark:bg-background-dark w-full min-h-screen flex justify-center"
    >
      <section class="w-full max-w-5xl gap-16 flex flex-col relative">
        <slot />

        <Footer />
      </section>
    </main>

    <style is:global>
      @font-face {
        font-family: "Poppins";
        src: url("/fonts/Poppins.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Poppins";
        src: url("/fonts/Poppins-Bold.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Poppins";
        src: url("/fonts/Poppins-Light.ttf") format("truetype");
        font-weight: light;
        font-style: normal;
        font-display: swap;
      }

      * {
        font-family: "Poppins", system-ui, sans-serif;
      }
      code {
        font-family: "Fira Code", monospace;
      }
      html {
        box-sizing: border-box;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
